/* Layout */

html, body {
  margin: 0;
  height: 100%;

  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 27px;

  /* To prevent the white flash */
  background: #000000;
}

#root {
  height: 100%;
}
