/* Layout */

html, body {
  margin: 0;
  height: 100%;

  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 27px;

  /* To prevent the white flash */
  background: #000000;
}

#root {
  height: 100%;
}

.app {
  min-height: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--main-color);
  background-color: var(--bg-color);

  /* Fix for Jumping Scrollbar Issue  */
  padding-left: calc(100vw - 100%);
}

.app > main {
  flex: 1 1 auto;

  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
@media (min-width: 800px) {
  .app > main {
    margin: 5vh 0;
    max-width: 800px;
  }
}

/* Common */

a,
summary {
  display: inline;
  cursor: pointer;

  border-bottom: var(--separator-width) solid currentColor;
  color: inherit;
  text-decoration: none;
}

a:focus,
a:hover,
summary:focus,
summary:hover {
  opacity: 0.8;
}

*:focus-visible {
  outline: calc(0.5 * var(--separator-width)) solid var(--main-color);
  outline-offset: calc(1px + var(--separator-width));
}

*::selection {
  color: var(--bg-color);
  background: var(--main-color);
}

ul {
  list-style: square;
}

hr {
  border: 0;
  height: 0;
  border-top: var(--separator-width) solid var(--main-color);
}

/* */

input::placeholder {
  color: var(--main-color);
  opacity: 0.8;
}

button {
  border: var(--separator-width) solid var(--main-color);
  background-color: var(--bg-color);
  color: var(--main-color);
  padding: var(--inner-padding) calc(4 * var(--inner-padding));
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

input,
select {
  box-sizing: border-box;

  padding: calc(0.5 * var(--inner-padding)) var(--inner-padding);
  color: var(--main-color);
  background-color: var(--bg-color);
  border: var(--separator-width) solid var(--main-color);
  font: inherit;
}

select {
  width: 250px;

  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  background-image: repeating-linear-gradient(
    315deg,
    var(--bg-color),
    var(--bg-color) var(--inner-padding),
    var(--main-color) var(--inner-padding),
    var(--main-color) calc(var(--inner-padding) + var(--separator-width)),
    var(--bg-color) calc(var(--inner-padding) + var(--separator-width)),
    var(--bg-color) 100%
  );
}

label {
  display: inline-block;
  width: 100%;
  max-width: 400px;
}

label input {
  width: 100%;
}

input[type='file'] {
  position: relative;
  font-size: 0;
  text-indent: -100%;
  cursor: pointer;
}
/*  */

.status {
  padding: var(--inner-padding);
  word-break: break-word;
}
