.ifplayer {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  background-color: var(--bg-color);
  color: var(--main-color);
  padding: var(--outer-padding);
}

.ifplayer .inputControls {
  position: relative;
  margin-top: var(--input-box-margin);
}

.ifplayer .inputControls .menuButton {
  position: absolute;
  right: 0;
  height: 100%;
}

.ifplayer .inputBox {
  font: inherit;
  color: inherit;
  outline: 0;

  background-color: var(--bg-color);
  border: var(--border-width) solid var(--main-color);
  border-top: var(--separator-width) solid var(--main-color);
  padding: var(--inner-padding);
  padding-right: calc(4 * var(--inner-padding));
  margin: 0;
  width: 100%;
}

.ifplayer .inputBox::placeholder {
  color: var(--main-color);
  opacity: 1;
}

.ifplayer .inputBox:focus::placeholder {
  opacity: 0.5;
}

.ifplayer .inputBox::-webkit-search-cancel-button {
  display: none;
}

.ifplayer .output {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  overflow-y: hidden;
  overflow-wrap: break-word;

  border: var(--border-width) solid var(--main-color);
}

.ifplayer .output .buffer {
  overflow-y: scroll;
  box-sizing: border-box;

  padding: var(--inner-padding);

  scrollbar-color: var(--main-color) var(--bg-color);
  scrollbar-width: thin;
}

.ifplayer .output .buffer:empty {
  display: none;
}

.ifplayer .output .buffer::-webkit-scrollbar {
  width: 8px;
}

.ifplayer .output .buffer::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border: 4px solid var(--bg-color);
  border-left-width: 0px;
}

.ifplayer .output .gridBuffer {
  flex-shrink: 0;
  max-height: 100%;
  border-bottom: var(--separator-width) solid var(--main-color);
}

.ifplayer .output .textBuffer {
  flex: 2 1;
  outline: none;
  scroll-behavior: smooth;
}

.ifplayer .output .textBuffer > br:first-child,
.ifplayer .output .gridBuffer > br:first-child,
.ifplayer .output .textBuffer > br:last-child,
.ifplayer .output .gridBuffer > br:last-child,
.ifplayer .output .textBuffer > br + br + br,
.ifplayer .output .gridBuffer > br + br + br {
  display: none;
}

.ifplayer .output .textBuffer .message.input {
  scroll-margin-top: var(--inner-padding);
  color: var(--input-color);
}

.ifplayer .output .textBuffer .message.emphasized,
.ifplayer .output .textBuffer .message.subheader {
  color: var(--accent-color);
}
