.ifplayer {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  padding: 8px;
  color: hsl(0, 0%, 0%, 0.8);
}

.inputBox {
  flex: 0 1 auto;

  font: inherit;
  outline: 0;
  border: 2px solid hsl(0, 0%, 0%, 0.8);;
  padding: 8px;
}

.textBuffer {
  flex: 2 1 auto;
  overflow-y: scroll;
  box-sizing: border-box;

  border: 2px solid hsl(0, 0%, 0%, 0.8);;
  padding: 8px;
  margin-bottom: 8px;
}

.textBuffer > br:first-child,
.textBuffer > br:last-child,
.textBuffer > br + br + br {
  display: none;
}

