.app.play {
  height: 100%;
}

.ifplayer {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  background-color: var(--bg-color);
  color: var(--main-color);
  padding: var(--outer-padding);
}

.inputBox {
  flex: 0 1 auto;

  font: inherit;
  color: inherit;
  outline: 0;

  background-color: var(--bg-color);
  border: var(--border-width) solid var(--main-color);
  padding: var(--inner-padding);
  margin-top: var(--input-box-margin);
}

.textBuffer {
  flex: 2 1 auto;
  overflow-y: scroll;
  box-sizing: border-box;

  border: var(--border-width) solid var(--main-color);
  padding: var(--inner-padding);

  scrollbar-color: var(--main-color) var(--bg-color);
  scrollbar-width: thin;
}

.textBuffer::-webkit-scrollbar {
  width: 8px;
}

.textBuffer::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border: 4px solid var(--bg-color);
  border-left-width: 0px;
}

.textBuffer > br:first-child,
.textBuffer > br:last-child,
.textBuffer > br + br + br {
  display: none;
}

