.ifplayer {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  background-color: var(--bg-color);
  color: var(--main-color);
  padding: var(--outer-padding);
}

.ifplayer .inputBox {
  flex: 0 1 auto;

  font: inherit;
  color: inherit;
  outline: 0;

  background-color: var(--bg-color);
  border: var(--border-width) solid var(--main-color);
  padding: var(--inner-padding);
  margin: 0;
  margin-top: var(--input-box-margin);
}

.ifplayer .inputBox::placeholder {
  color: var(--main-color);
  opacity: 1;
}

.ifplayer .inputBox:focus::placeholder {
  opacity: 0.5;
}

.ifplayer .inputBox::-webkit-search-cancel-button {
  display: none;
}

.ifplayer .output {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  overflow-y: hidden;

  border: var(--border-width) solid var(--main-color);
}

.ifplayer .output .buffer {
  overflow-y: scroll;
  box-sizing: border-box;

  padding: var(--inner-padding);

  scrollbar-color: var(--main-color) var(--bg-color);
  scrollbar-width: thin;
}

.ifplayer .output .buffer:empty {
  display: none;
}

.ifplayer .output .buffer::-webkit-scrollbar {
  width: 8px;
}

.ifplayer .output .buffer::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border: 4px solid var(--bg-color);
  border-left-width: 0px;
}

.ifplayer .output .gridBuffer {
  flex-shrink: 0;
  max-height: 100%;
  border-bottom: var(--border-width) solid var(--main-color);
}

.ifplayer .output .textBuffer {
  flex: 2 1;
  outline: none;
}

.ifplayer .output .textBuffer > br:first-child,
.ifplayer .output .textBuffer > br:last-child,
.ifplayer .output .textBuffer > br + br + br {
  display: none;
}

.status {
  padding: var(--inner-padding);
}

.status.loading > div:after {
  animation: dots0123 1s infinite;
  content: '';
}

@keyframes dots0123 {
  0%   { content: ''; }
  33%  { content: '.'; }
  66%  { content: '..'; }
  100% { content: '...'; }
}
